<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('계정 영구 정지 안내')}">
    <meta charset="UTF-8">
    <title>계정 영구 정지 안내</title>
    <link rel="stylesheet" href="../static/ObS/css/style.css" th:href="|${staticUrl}css/style.css|">
</head>
<body>
    <header th:replace="~{fragments/layout :: header}"></header>

    <main id="content">
        <div class="banned-container">
            <h2 class="banned-title">계정 영구 정지 통보</h2>

            <p class="msg banned-msg">
                귀하의 계정은 서비스 운영 정책 위반으로 인해<br>
                <strong>영구적으로 사용이 중지</strong>되었습니다.<br><br>
                이 조치는 번복되지 않으며, <br>
                해당 계정으로는 더 이상 서비스에 접속할 수 없습니다.
            </p>

            <div class="banned-action">
                <button type="button" class="btn-cancel btn-banned-confirm" onclick="location.href='/'">확인</button>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/layout :: footer}"></div>
    <div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
